<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おすすめガンダム作品診断</title>
</head>
<body>
    <h1>おすすめガンダム作品診断</h1>
    <form action="/recommend">
        <h3>Q1. ガンダムにあまり興味がない</h3>
        <input type="radio" name="radio1" id="radio1-1" value="1">
        <label for="radio1">はい</label>
        <input type="radio" name="radio1" id="radio1-2" value="2">
        <label for="radio1">いいえ</label><br>

        <h3>Q2. 時間がある</h3>
        <input type="radio" name="radio2" id="radio2-1" value="1">
        <label for="radio2">はい</label>
        <input type="radio" name="radio2" id="radio2-2" value="2">
        <label for="radio2">いいえ</label><br>

        <h3>Q3. 戦いよりヒューマンドラマに興味がある</h3>
        <input type="radio" name="radio3" id="radio3-1" value="1">
        <label for="radio3">はい</label>
        <input type="radio" name="radio3" id="radio3-2" value="2">
        <label for="radio3">いいえ</label><br>

        <h3>Q4. 古い作画が苦手</h3>
        <input type="radio" name="radio4" id="radio4-1" value="1">
        <label for="radio4">はい</label>
        <input type="radio" name="radio4" id="radio4-2" value="2">
        <label for="radio4">いいえ</label><br>

        <h3>Q5. 戦争描写が苦手</h3>
        <input type="radio" name="radio5" id="radio5-1" value="1">
        <label for="radio5">はい</label>
        <input type="radio" name="radio5" id="radio5-2" value="2">
        <label for="radio5">いいえ</label><br>
        
        <br><input type="submit" value="診断">
    </form>
    <hr>
    <h4>診断結果</h4>
    <h2><%= ans%></h2>
</body>
</html>